:host {
    width: 100%;
    background-color: var(--background-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    box-shadow: inset 0px 1px 5px -3px rgba(0, 0, 0, 0.5);
}

.separator {
    color: var(--gray-300);
    user-select: none;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
}
