<p-toolbar
    [style]="{
        padding: '0px',
        'border-radius': '0',
        background: 'linear-gradient(135deg, var(--primary-color), var(--blue-400))',
        color: '#fff',
        border: '0px'
    }"
>
    <ng-template pTemplate="start">
        <i class="ml-4 pi pi-wallet" style="font-size: 2rem; color: var(--primary-color-text)"></i>
        <p
            class="ml-2 text-3xl font-bold cursor-pointer"
            (click)="goHome()"
            style="color: var(--primary-color-text); user-select: none"
        >
            MSaver
        </p>
    </ng-template>

    <ng-template pTemplate="center">
        <div class="flex gap-2 justify-center w-full">
            <p-button
                label="Баланс"
                styleClass="p-button-text text-white hover:text-blue-100"
                (click)="goHome()"
            ></p-button>
            <p-button
                label="Категории"
                styleClass="p-button-text text-white hover:text-blue-100"
                (click)="goCategories()"
            ></p-button>
            <p-button
                label="Статистика"
                styleClass="p-button-text text-white hover:text-blue-100"
                (click)="goStatistics()"
            ></p-button>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button
            class="mr-4"
            label="Выйти"
            styleClass="p-button-outlined p-button-rounded text-white border-white hover:bg-white hover:text-blue-500"
            size="small"
            (click)="logout()"
        ></p-button>
    </ng-template>
</p-toolbar>
