<div class="dropdown-container flex gap-3 mb-4">
    <p-dropdown
        [options]="typeOptions"
        [(ngModel)]="selectedType"
        optionLabel="label"
        optionValue="value"
        [style]="{ width: '150px' }"
    ></p-dropdown>

    <p-dropdown
        [options]="years"
        [(ngModel)]="selectedYear"
        placeholder="Год"
        [style]="{ width: '120px' }"
    ></p-dropdown>
</div>

<div
    *ngIf="!hasDataForSelectedYear()"
    class="flex align-items-center justify-content-center"
    style="height: 65vh"
>
    <i class="pi pi-info-circle text-6xl"></i>
    <span class="text-4xl ml-2">Данные за выбранный год отсутствуют.</span>
</div>

<p-table
    *ngIf="hasDataForSelectedYear()"
    [value]="getCategories()"
    responsiveLayout="scroll"
    showGridlines
    size="small"
>
    <ng-template pTemplate="header">
        <tr class="custom-header">
            <th>Категория</th>
            <th *ngFor="let m of months" class="text-center">{{ m.name }}</th>
            <th class="text-center">Среднее</th>
            <th class="text-center">Всего</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
        <tr>
            <td class="font-medium">{{ category }}</td>
            <td *ngFor="let m of months; let i = index" class="text-center">
                {{ getFormattedValue(category, i) }}
            </td>
            <td class="text-center text-yellow-500 font-semibold">
                {{ getFormattedNumber(getCategoryAverage(category)) }}
            </td>
            <td class="text-center text-green-600 font-bold">
                {{ getFormattedNumber(getCategoryTotal(category)) }}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="footer">
        <tr>
            <td>Итого</td>
            <td *ngFor="let m of months; let i = index" class="text-center">
                {{ getFormattedNumber(getMonthSum(i)) }}
            </td>
            <td class="text-center">
                {{ getFormattedNumber(getTotalAverage()) }}
            </td>
            <td class="text-center">
                {{ getFormattedNumber(getTotalSum()) }}
            </td>
        </tr>
    </ng-template>
</p-table>
