<div class="flex flex-column align-items-center mt-6">
    <div class="flex justify-content-between w-8">
        <h2 class="mb-4 font-bold">Добрый день, {{ user.username }}</h2>

        <button
            pButton
            type="button"
            label="Добавить транзакцию"
            (click)="openTransactionDialog()"
            class="mb-3"
        ></button>
    </div>

    <!-- Диалог -->
    <p-dialog
        header="Добавить транзакцию"
        [(visible)]="showTransactionDialog"
        [modal]="true"
        [closable]="true"
        [draggable]="false"
        [style]="{ width: '30rem', height: '40rem' }"
    >
        <div class="p-fluid">
            <div class="field mb-3">
                <label for="type">Тип транзакции</label>
                <p-dropdown
                    [options]="categoryTypes"
                    [(ngModel)]="categoryType"
                    placeholder="Выберите тип"
                    id="type"
                ></p-dropdown>
            </div>

            <!-- Категория -->
            <div class="field mb-3">
                <label for="category">Категория</label>
                <p-dropdown
                    [options]="filteredCategories"
                    [(ngModel)]="selectedCategory"
                    optionLabel="name"
                    placeholder="Выберите категорию"
                    [disabled]="categoryType === null || categoryType === undefined"
                    id="category"
                ></p-dropdown>
            </div>

            <div class="field mb-3">
                <label for="date">Дата</label>
                <p-calendar
                    [(ngModel)]="transactionDate"
                    inputId="date"
                    dateFormat="dd.mm.yy"
                    showIcon="true"
                    [disabled]="!selectedCategory"
                    appendTo="body"
                ></p-calendar>
            </div>

            <div class="field mb-3">
                <label for="amount">Сумма</label>
                <p-inputNumber
                    inputId="amount"
                    [(ngModel)]="transactionAmount"
                    mode="decimal"
                    [min]="0"
                    [disabled]="!selectedCategory"
                />
            </div>

            <div class="field mb-3">
                <label for="description">Описание</label>
                <input
                    id="description"
                    pInputText
                    [(ngModel)]="transactionDescription"
                    [disabled]="!selectedCategory"
                />
            </div>
            <div class="flex justify-end mt-4">
                <button
                    pButton
                    severity="danger"
                    [outlined]="true"
                    type="button"
                    label="Отмена"
                    class="p-button-text mr-2"
                    (click)="showTransactionDialog = false"
                ></button>
                <button
                    pButton
                    type="button"
                    label="Сохранить"
                    (click)="submitTransaction()"
                    [disabled]="!selectedCategory || !transactionAmount"
                ></button>
            </div>
        </div>
    </p-dialog>

    <div class="summary-container">
        <app-summary-card
            title="Доходы"
            [value]="income"
            backgroundColor="rgba(0, 128, 0, 0.2)"
            textColor="#005500"
        ></app-summary-card>

        <app-summary-card
            title="Баланс"
            [value]="balance"
            backgroundColor="rgba(255, 215, 0, 0.3)"
            textColor="#b8860b"
            [scale]="1.3"
        ></app-summary-card>

        <app-summary-card
            title="Расходы"
            [value]="expenses"
            backgroundColor="rgba(255, 0, 0, 0.2)"
            textColor="#990000"
        ></app-summary-card>
    </div>

    <div class="exchange-rate-container">
        <div class="exchange-table-block">
            <div class="table-title">
                <i class="pi pi-money-bill mr-2"></i>
                Курсы валют
            </div>
            <p-table [value]="fiatRates" class="rate-table w-full" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Валюта</th>
                        <th>Курс к BYN</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rate>
                    <tr>
                        <td>{{ rate.currency }}</td>
                        <td>{{ rate.rateValue }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="exchange-table-block">
            <div class="table-title">
                <i class="pi pi-bitcoin mr-2"></i>
                Криптовалюты
            </div>
            <p-table [value]="cryptoRates" class="rate-table w-full" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Криптовалюта</th>
                        <th>Курс к USD</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-crypto>
                    <tr>
                        <td>{{ crypto.currency }}</td>
                        <td>{{ crypto.rateValue }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
