<div class="flex flex-column align-items-center mt-6">
    <div class="flex justify-content-between w-8">
        <div class="flex font-bold text-lg">
            <h2>Добрый день,&nbsp;</h2>
            <h2 [style.color]="'var(--primary-color)'">
                {{ user.username }}
            </h2>
        </div>

        <button
            pButton
            type="button"
            label="Добавить транзакцию"
            (click)="openTransactionDialog()"
            class="mb-3 bg-blue-500 border-none text-white hover:bg-blue-400"
            icon="pi pi-plus"
        ></button>
    </div>

    <app-transaction-dialog
        [(visible)]="isTransactionDialogVisible"
        [categories]="categories"
        (submit)="handleTransactionSubmit()"
        (close)="handleTransactionDialogClose()"
    />

    <div class="summary-container">
        <app-summary-card
            title="Доходы"
            [value]="income"
            backgroundColor="linear-gradient(135deg, var(--green-400) 0%, var(--green-700) 100%)"
            textColor="#ffffff"
        ></app-summary-card>

        <app-summary-card
            title="Баланс"
            [value]="balance"
            backgroundColor="linear-gradient(135deg, var(--blue-400) 0%, var(--blue-700) 100%)"
            textColor="#ffffff"
        ></app-summary-card>

        <app-summary-card
            class="exchange-wrapper"
            title="Расходы"
            [value]="expenses"
            backgroundColor="linear-gradient(135deg, var(--cyan-400) 0%, var(--cyan-700) 100%)"
            textColor="#ffffff"
        ></app-summary-card>
    </div>

    <div class="exchange-wrapper">
        <app-exchange-rates
            [fiatRates]="fiatRates"
            [cryptoRates]="cryptoRates"
        ></app-exchange-rates>
    </div>
</div>
