<p-tabView [(activeIndex)]="activeTabIndex" class="tab-view">
    <p-tabPanel header="Доходы">
        <app-chart-tab
            [months]="months"
            [chartDataByMonth]="incomeChartDataByMonth"
            (selectedMonthIndexChange)="selectedMonthIndex = $event"
        ></app-chart-tab>
    </p-tabPanel>

    <p-tabPanel header="Расходы">
        <app-chart-tab
            [months]="months"
            [chartDataByMonth]="expenseChartDataByMonth"
            (selectedMonthIndexChange)="selectedMonthIndex = $event"
        ></app-chart-tab>
    </p-tabPanel>

    <p-tabPanel header="Итоги">
        <app-summary-table-tab
            [months]="months"
            [incomeTableData]="incomeTableData"
            [expenseTableData]="expenseTableData"
        ></app-summary-table-tab>
    </p-tabPanel>
</p-tabView>
